*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;
overflow:hidden;
font-family:'Vazirmatn',sans-serif;
background:#000;
color:#fff;
}

body{
display:flex;
align-items:center;
justify-content:center;
}

#photo{

position:fixed;
width:100%;
height:100%;
object-fit:cover;
animation:zoom 25s ease-in-out infinite alternate;
filter:brightness(.35);

}

.overlay{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(
to bottom,
rgba(0,0,0,.35),
rgba(0,0,0,.75),
rgba(0,0,0,.95)
);

backdrop-filter:blur(3px);

}

#intro{

position:absolute;
z-index:5;

display:flex;
align-items:center;
justify-content:center;

width:100%;
height:100%;

background:#000;

animation:intro 4s forwards;

}

.introText{

font-size:32px;

font-weight:300;

opacity:0;

animation:fadeText 3s forwards;

}

#main{

position:absolute;

z-index:3;

text-align:center;

width:90%;

max-width:700px;

opacity:0;

animation:showMain 4s forwards;

animation-delay:4s;

}

h1{

font-size:52px;

font-weight:700;

margin-bottom:40px;

letter-spacing:2px;

}

#typewriter{

font-size:24px;

line-height:50px;

min-height:320px;

white-space:pre-line;

}

#playBtn{

margin-top:30px;

padding:18px 45px;

font-size:20px;

border:none;

border-radius:50px;

cursor:pointer;

background:rgba(255,255,255,.12);

color:white;

backdrop-filter:blur(12px);

transition:.4s;

border:1px solid rgba(255,255,255,.25);

}

#playBtn:hover{

transform:scale(1.06);

background:rgba(255,255,255,.2);

}

.heart{

font-size:48px;

margin-top:35px;

animation:heart 1.3s infinite;

color:#ff6b81;

}

@keyframes heart{

0%{

transform:scale(1);

}

50%{

transform:scale(1.3);

}

100%{

transform:scale(1);

}

}

@keyframes zoom{

0%{

transform:scale(1);

}

100%{

transform:scale(1.12);

}

}

@keyframes intro{

0%{

opacity:1;

}

80%{

opacity:1;

}

100%{

opacity:0;

visibility:hidden;

}

}

@keyframes fadeText{

0%{

opacity:0;

transform:translateY(20px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

@keyframes showMain{

0%{

opacity:0;

transform:translateY(40px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

#stars{

position:fixed;

width:100%;

height:100%;

overflow:hidden;

z-index:1;

}

.star{

position:absolute;

width:2px;

height:2px;

background:white;

border-radius:50%;

opacity:.8;

animation:twinkle 4s infinite;

}

@keyframes twinkle{

0%{

opacity:.2;

transform:scale(1);

}

50%{

opacity:1;

transform:scale(2);

}

100%{

opacity:.2;

transform:scale(1);

}

}
